nav{
    z-index: 99;
    color :blue;
}

.skill-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70vh;
}

.carousel-item img{
    height: 100vh;
}

.sort-center{
    display: flex;
    flex-direction : column;
    justify-self: center;
    align-items: center;
    width: 100%;

    border-top: 1px solid white;
    
}